@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

body {
    font-family: "Poppins";
    line-height: 1.4;
    background-color: #D7DCDD;
    width: 500px;
    margin: auto;
}

form {

    background: rgb(147, 5, 5, 0.2);
    padding: 2.5rem 2.5rem;
    border-radius: 2rem;
    width: 500px;
    margin: auto;
}

.submit-button {

    width: 100%;
    padding: 0.75rem;
    color: white;
    border-radius: 2px;
    cursor: pointer;
}

.input-heading {

    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
}

.form-inputs {

    display: block;
    width: 90%;
    height: 2rem;
    padding: 0.25rem 0.75rem;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}